.record-content {
  padding-top: 25px;
  .record-content-txt {
    padding: 35px;
    max-width: calc(100vw - var(--page-padding-h)* 2);
    overflow-x: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    pre {
      font-size: 1.15rem;
      line-height: 1.6;
      font-weight: 400;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: justify;
    }
  }
  .record-panel {
    display: flex;
    justify-content: space-between;
  }
  .content-label {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 500;
    flex-wrap: wrap;
  }
  .txt-unknwon {
    color: red;
    font-weight: 600;
    background-size: 100% 3px;
    padding-bottom: 2px;
  }
  a.txt-unknwon {
    background-position: 0 100%;
    background-image: linear-gradient(45deg, #8749d3, #f14c99 30%, #417bf7);
    background-repeat: repeat-x;
  }
}
