.record-item {
  .record-card {
    width: 320px;
    max-width: 100%;
    position: relative;
    @media only screen and (max-width: 350px) {
      width: 100%;
    }
    .record-name {
      text-align: left;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.record-wrapper {
  position: relative;
  .btn-rec-delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    opacity: 0.05;
    z-index: 9;
    transition: opacity 0.5s;
    svg {
      width: 1.2em;
      height: 1.2em;
      transition: color 0.5s;
    }
    &:hover {
      opacity: 1;
      svg {
        color: red;
      }
    }
  }
}

.records-container {
  .app-dropdown-btn {
    color: var(--app-primary-color);
    svg: {
      color: var(--app-primary-color);
    }
  }
}
