body {
  --page-padding-h: 30px;
  --app-primary-color: rgb(11, 107, 203);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// set font family
// quick and dirty solution
body * {
  font-family: PF Regal, PF Regal Text Pro, Georgia, serif !important;
}

body * {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  width: 100vw;
  height: 100vh;
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
}

//  ##### ##### ##### ##### ##### FORMS ##### ##### ##### ##### #####
.form {
  padding-top: 60px;
}

input {
  background-color: white !important;
}

.form-control {
  margin-bottom: 46px !important;
}

.form-label[data-shrink="true"] {
  top: -20px !important;
}

.form-button {
  background-color: #212121;
}

.form .form-button {
  display: flex;
  margin-bottom: 15px;
  background-color: #212121;
}

.text-box input {
  min-width: 250px;
}

.error-message {
  color: crimson;
  word-wrap: break-word;
  text-align: center;
  line-height: 200%;
}

button {
  text-transform: none !important;
}

//  ##### ##### ##### ##### ##### other ##### ##### ##### ##### #####
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.outline-none {
  outline: none;
  user-select: none;
}

.react-pdf__Page__textContent {
  left: 0 !important;
  width: 100% !important;
}

.no-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn-svg {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  svg {
    opacity: 0.7;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
  &.emphasized {
    svg {
      fill: rgb(143, 0, 0);
    }
    &:hover:not(:disabled) {
      svg {
        fill: rgb(87, 2, 2);
      }
    }
  }
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  position: relative;
}

.view-content {
  flex: 1;
  width: 100%;
}

.view-items {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  justify-content: center;
}

.view-items-section {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 20px 0;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// UTILS
.cursor-point {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.flex-center-column {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

$array: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 40;
@each $dim in $array {
  .ml-#{$dim} {
    margin-left: #{$dim}px !important;
  }
  .mr-#{$dim} {
    margin-right: #{$dim}px !important;
  }
  .mb-#{$dim} {
    margin-bottom: #{$dim}px !important;
  }
  .mt-#{$dim} {
    padding-top: #{$dim}px !important;
  }

  .pb-#{$dim} {
    padding-bottom: #{$dim}px !important;
  }
  .pl-#{$dim} {
    padding-left: #{$dim}px !important;
  }
  .pr-#{$dim} {
    padding-right: #{$dim}px !important;
  }
  .pt-#{$dim} {
    padding-top: #{$dim}px !important;
  }
  .p-#{$dim} {
    padding: #{$dim}px !important;
  }
}

.app-txt {
  font-weight: 500;
  font-size: 0.975rem;
  line-height: 1.6;
  letter-spacing: 0.02857em;
}

.card-image-container {
  width: 100%;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
  }
}

.page-wrapper {
  padding: 25px var(--page-padding-h);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

a.no-anchor {
  /* Remove underline */
  text-decoration: none;

  /* Remove default color */
  color: inherit;

  /* Remove default outline */
  outline: none;

  /* Remove default padding and margin */
  padding: 0;
  margin: 0;

  /* Remove default font styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.words-to-learn-page {
  .paginated-words, .view-items {
    width: 100%;
  }
}