.paginated-words {
  margin: 0px;
  padding: 0;
  border-radius: 10px;
  background-color: white;

  .word-list-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    > * {
      margin-top: 20px;
    }
  }

  .word-header-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > * {
      margin-bottom: 10px;
    }
  }
  .pagination-size,
  .pagination button .totals-info {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
  }
  .totals-info {
    white-space: nowrap;
  }
  .pagination-sticky {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px var(--page-padding-h) 0 var(--page-padding-h);
    filter: drop-shadow(4px 6px 20px rgba(0,0,0,0.07));
    
    .pagination-sticky-inner {
      display: flex;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-bottom: 20px;
    }
  }

  .word-items {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .word-item-container {
    flex: 1;
    display: flex;
    padding: 10px;
  }
  .word-item {
    display: flex;
    border-radius: 10px;
  }
  .word-square:hover {
    svg {
      fill: black;
    }
  }
  .word-square {
    padding: 0.5rem 0.3rem 0.5rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .word-square:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
  .word-typography {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }
  
  .btn-word-add {
    background-color: transparent;
    border-radius: 0;
    padding: 0.5rem 0.1rem;
    display: block;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .btn-action {
    svg {
      fill: rgb(165, 165, 165);
    }
  }
  .btn-action:hover {
    svg {
      fill: black;
    }
  }
  .btn-action.btn-active {
    svg {
      fill: rgb(143, 0, 0);
    }
  }
  .btn-action.btn-active:hover:not(:disabled) {
    svg {
      fill: rgb(87, 2, 2);
    }
  }
  .word-filter-checkbox {
    padding: 0 1.5rem;
  }
}