.paginated-words {
    margin: 20px;
  .word-items {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .word-item {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
  }
}

.paginated-words.is-focused {
    outline: 3px solid red!important;
    outline-offset: 2px!important;;
}
